.OrderInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 40px;
}

.MenuPrice {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;
    height: 100%;
    flex-basis: 20%;
    margin-right: 10px;
}

.MenuPrice p {
    font-size: 1em;
    margin: 0;
}

.DeleteOrderButton {
    flex-basis: 10%;
    margin: 0 0 0 10px;
    height: 100%;
}