.OrderController {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.AddOrderButton, .TotalOrderButton {
    flex-basis: 15%;
    text-align: center;
}

.OrderTotal {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OrderTotal p {
    margin: 0;
}