.HistoryContent {
    flex-basis: 85%;
    height: 100%;
    overflow-y: scroll;
    padding: 0 10px 5px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.HistoryContent::-webkit-scrollbar {
    display: none;
}

.no-history {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 0.85em;
}

.HistoryContent ul {
    margin: 0;
    padding: 0;
}

.HistoryContent li {
    list-style: none;
    margin-bottom: 10px;
}

.HistoryContent li:last-child {
    margin: 0;
}

.expression-history {
    color: #555;
}

.result-history {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}